body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#bntOrderOperationDelivered{
  background:    #b6d7a8;
  border-radius: 3px;
  padding:       6px 7px;
  color:         #000000;
  display:       inline-block;
  font:          normal 400 20px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   none;
}

#bntOrderOperationCancel{
  background:    #f4cccc;
  border-radius: 3px;
  padding:       6px 7px;
  color:         #000000;
  display:       inline-block;
  font:          normal 400 20px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   none;
}
#bntOrderOperationEdit{
  background:    #9fc5e8;
  border-radius: 3px;
  padding:       6px 7px;
  color:         #000000;
  display:       inline-block;
  font:          normal 400 20px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   none;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

/*Order.ejs*/
#Submit{
  background:    #9fc5e8;
  border-radius: 3px;
  padding:       6px 7px;
  color:         #000000;
  display:       inline-block;
  font:          normal 400 20px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   none;
}

#btnCloseTab{
  background:    #f4cccc;
  border-radius: 3px;
  padding:       6px 7px;
  color:         #000000;
  display:       inline-block;
  font:          normal 400 20px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   none;
}
