<!--<ul>-->
    <!--<li><a href="/"> Login</a> </li>-->
    <!--&lt;!&ndash;<li><a href="/login">Login</a> </li>&ndash;&gt;-->
    <!--<li><a href="/news/sn"> NEWS</a> </li>-->
<!--</ul>-->
    <!--<a href="/"> Login      </a>-->
<!--<li><a href="/login">Login</a> </li>-->
    <!--<a href="/news/sn"> NEWS</a>-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<table class="table">
    <tr>
        <td><a href="/"> LOGIN      </a></td>
        <td><a href="/news/sn"> NEWS</a></td>
    </tr>
</table>
